h1 {
    display: flexbox;
    color: maroon;
    background-color: black;
    border-bottom: 5px solid maroon;
    border-top: 5px solid;
    color: whitesmoke;
    text-align: center;
     font-family: sans-serif;
    border-color: white;
}

h2 {
    display: flexbox;
    margin: 50px;
    text-decoration: 4px underline solid black;
    text-transform: uppercase;
    font-size: x-large;
    font-weight: bold;
    color: white;
    font-family: sans-serif

}

.welcome {
    margin-right: 100vh;
    margin-bottom: 5vh;
    margin-left: 5vh;
margin-top: -5vh;
    font-size: 10px;
    color: white;
    font-family: serif
}

div {
    display: flexbox;
    background-color: black;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-content: space-evenly;
    text-align: center;
    font-size: larger;
    color: white;
    border-color: white;
    
}

section {
    font-size: 20px;
    text-decoration: underline;
    text-size-adjust: 5vh;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: white;
    font-family: serif;

     
    }

img {
    display: flexbox;
    height: 30vh;
    width: 30vh;
    justify-content: flex-start;
    flex-direction: row-reverse;
}

h3 {
    display: flexbox;
    margin: 50px;
    font-size: x-large;
    font-weight: bold;
    text-decoration: 4px underline solid black;
    text-transform: uppercase;
    text-align: right;
    color: white;
    font-family: sans-serif;
}

#HOME {
    text-align: right;
    font-size: larger;
    margin-left: 100vh;
    align-items: flex-start;
    font-size: 10px;
    color: white;
    font-family: serif;
}

button:hover {
    font-size: small;
    background-color: maroon;
    cursor: pointer;


}

body {
    background-color: maroon;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    bottom: 0;
    display: flexbox;
    justify-content: space-between;
    font-family: serif;
}

Footer ul {
    list-style: none;
    padding: 0;

}

footer a {
    color: white;
    text-decoration: none;
    justify-content: space-between;
    font-size: 10px;
    font-family: serif;
}
